#form-holder{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
#form-holder .form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form .form-input
{
    width: 40%;
    margin: 0 auto;
    height: 35px;
    border: 2px solid white;
    border-radius: 26px;
    text-align: center;
    color: white;
    background-color: transparent;
    transition: background-color 0.5s;
    font-size: 20px;
}

.form .form-input::placeholder{
    color: white;
    opacity: 50%;
}

.form .form-input:focus{
    background-color: white;
    color: black;
}

.form .form-buttons{
    margin: 0 auto;
    width: 40%;
    display: flex;
}

.form #form-radio-holder{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#form-radio-holder .form-radio{
    float: left;
    height: 30px;
    width: 30px;
}

label{
    float: left;
    margin-left: 3px;
    font-size: 30px;
    color: white;
}

.form-buttons .form-button{
    width: 45%;
    margin: 0 auto;
    height: 35px;
    border: 2px solid white;
    border-radius: 26px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.5s;
    transition: color 0.5s;
}
.form-buttons .form-button:hover {
    color: black;
    background-color: white;
}


