/*#login-form-holder{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    padding-top: 200px;*/
/*}*/

/*#login-form-holder .form{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 50%;*/
/*}*/

/*#customer-form-holder{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    padding-top: 50px;*/
/*}*/
/*#customer-form-holder .form{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 50%;*/
/*}*/
#form-holder{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
#form-holder .form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form .form-input
{
    width: 40%;
    margin: 0 auto;
    height: 35px;
    border: 2px solid white;
    border-radius: 26px;
    text-align: center;
    color: white;
    background-color: transparent;
    transition: background-color 0.5s;
    font-size: 20px;
}

.form .form-input::placeholder{
    color: white;
    opacity: 50%;
}

.form .form-input:focus{
    background-color: white;
    color: black;
}

.form .form-buttons{
    margin: 0 auto;
    width: 40%;
    display: flex;
}

.form-buttons .form-button{
    width: 40%;
    margin: 0 auto;
    height: 26px;
    border: 2px solid white;
    border-radius: 26px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    transition: background-color 0.5s;
    transition: color 0.5s;
}
.form-buttons .form-button:hover {
    color: black;
    background-color: white;
}


