a{
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    height: 30px;
    width: 90px;
    font-size: 20px;
    padding: 8px 50px;
    transition: color 0.5s;
    transition: background 0.5s;
}

a:hover{
    color: black;
    background: white;
}

#invoices{
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    color: white;
}

.invoice{
    margin-bottom: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 2px solid white;
    border-radius: 10px;
}

.invoice-col {
    padding-left: 40px;
    margin: 0 auto;
    width: 30%;
    float: left;
}

.invoice-col-2 {
    padding-left: 40px;
    margin: 0 auto;
    width: 15%;
    float: left;
}

.invoice-button-col{
    padding-left: 40px;
    margin: 0 auto;
    width: 35%;
    float: left;
}

.invoice-elem{
    padding-top: 4px;
    padding-bottom: 4px;
}

.col-button{
    white-space: nowrap;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 70px;
    font-size: 15px;
    height: 20px;
}

#invoice-not-confirmed{
    color: lightgreen;
}

#invoice-divider{
    width: 100%;
    display: flex;
    align-items: center;
}
