a{
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    height: 30px;
    width: 90px;
    font-size: 20px;
    padding: 8px 50px;
    transition: color 0.5s;
    transition: background 0.5s;
}

a:hover{
    color: black;
    background: white;
}

#products{
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    color: white;
}

.product{
    align-items: center;
    display: flex;
    width: 60%;
    border: 2px solid white;
    border-radius: 10px;
}

.product-col {
    padding-left: 20px;
    margin: 0 auto;
    width: 30%;
    float: left;
}

.product-elem{
    padding-top: 4px;
    padding-bottom: 4px;

}
