<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Little ERP</title>
</head>
<body>
<div id="menu" th:fragment="menu">
    <a href="/main">Main Page</a>
    <a th:if="${logged == true}" href="/invoices">Invoices</a>
    <a th:if="${logged == true}" href="/customers">Customers</a>
    <a th:if="${logged == true}" href="/products">Products</a>
    <a th:if="${logged == false}" href="/login">Log In</a>
    <a th:if="${logged == false}" href="/register">Register</a>
    <a th:if="${logged == true}" href="/logout">Logout</a>
</div>
</body>
</html>